*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    padding-right: 16px;
    padding-left: 16px;
}

.board {
    height: 75%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.board::-webkit-scrollbar {
    display: none;
}

.chat_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px 21px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px 16px 0px 0px;
}

.chat-header__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}


.board .recieved {
    align-self: flex-start;
    margin: 2%;
    max-width: 65%;
    min-width: 35%;
    border: 1px solid #D9D9D9;
    border-radius: 12px 12px 12px 0px;
    padding: 8px 16px;
  }

  .board .sent {
    align-self: flex-end;
    margin: 2%;
    max-width: 65%;
    border: 1px solid #D9D9D9;
    border-radius: 12px 12px 0px 12px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
  }

  .sent__messege {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    margin-right: 8px;
  }

  .board-time {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;

    color: #818181;
  }

.sent__container, .sent__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sent__input-container {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 12px;
    padding: 8px 16px;
}


.sent__input {
    border: none;
}

.sent__btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat{
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    transition: .1s;
    width: 300px;
    height: 450px;
    position: fixed;
    right: 33px;
    bottom: 32px;
  }

  .question{
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px;
    border-radius: 50%;
    transition:.15s;
  }

  .question{
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
    right: 32px;
    bottom: 32px;
  }



  .question-wrap:hover .question,
   .question.active
  {
    
    background-color: #faa419;
  }

  .add-btn {
    margin-right: 10px;

  }

.question-wrap .white{ display: none;}
.question-wrap .black{ display: flex;}


.question-wrap:hover .white{ display: flex;}
.question-wrap:hover .black{ display: none;}
